@model Toplearn.Core.DTOs.UserVM.EmailOnlyViewModel
<script>
	$(document).ready(function () {
		setTimeout(function () { $('#exampleModal').modal('show'); }, 50);
	});
</script>
<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header alert-success">
				<button type="button" class="close" asp-action="Index" asp-controller="Home" aria-label="Close">
				</button>
				<h5 class="modal-title h2" id="exampleModalLabel">ایمیل بازیابی با موفقیت ارسال شد</h5>
			</div>
			<div class="modal-body">
				<p class="h3" style="margin:7px 0px">
					کاربر عزیز<br />
				</p>
				<p class="h4">
					ایمیل بازیابی رمز عبور برای 
					<a href="https://accounts.google.com/b/1/AddMailService" target="_blank">@(Model.Email)</a>
					ارسال شد<br /> <br />
					لطفا وارد ایمیل خود شوید و روی لینک کلیک کنید
				</p>
			</div>
			<div class="modal-footer">
				<a class="btn btn-default" href="/">خانه</a>
				<a class="btn btn-primary" style="min-width:60px" href="/Login">ورود</a>
			</div>
		</div>
	</div>
</div>
