<script>
	$(document).ready(function () {
		setTimeout(function () { $('#exampleModal').modal('show'); setTimeout(function () { window.location.replace("/Login"); }, 10000); }, 500);
	});
</script>
<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header alert-success">
				<a class="close" href="/Login">
				</a>
				<h5 class="modal-title h2" id="exampleModalLabel">ثبت تغییرات با موفقیت انجام شد</h5>
			</div>
			<div class="modal-body">
				<p class="h3" style="margin:7px 0px">
					کاربر عزیز<br />
				</p>
				<p class="h4">
					رمز عبور شما با موفقیت تغییر و ثبت شد <br /> <br />
					اکنون به راحتی می توانید با رمز عبور جدید خود وارد حسابتان بشوید
				</p>
			</div>
			<div class="modal-footer">
				<a class="btn btn-success" style="min-width:70px" href="/Login">ورود</a>
			</div>
		</div>
	</div>
</div>
