@model string
<script>
	$(document).ready(function () {
		setTimeout(function () {
			$('#exampleModal').modal('show'); setTimeout(
				function () {
					$('#exampleModal').modal('hide');
				}, 7000);
		}, 50);
	});
</script>
<!-- Modal -->
<div class="modal fade modal-sm " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header alert-warning">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h5 class="modal-title h2" id="exampleModalLabel">تغییرات با شکست مواجه شد</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning btn-outline" data-dismiss="modal" >فهمیدم</button>
			</div>
		</div>
	</div>
</div>